{% extends 'baseadmin.html' %}
{% block title %}All Variants{% endblock title %}
{% block content %}

<h4>All Variants</h4>

{% if variants %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>Color</th>
      <th>Details</th>
      <th>Stock</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    {% for variant in variants %}
    <tr>
      <td>{{ variant.product.product_name }}</td>
      <td>{{ variant.colour.colour_name }}</td>
      <td>{{ variant.variant_details }}</td>
      <td>{{ variant.variant_stock }}</td>
      <td><img src="/media/{{ variant.img1 }}" alt="{{ variant.img1 }}" width="50px" height="50px"></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No variants available.</p>
{% endif %}

{% endblock content %}
