{% extends 'baseuser.html' %}
{% block title %}Order Confirmation{% endblock title %}

<style>
    
    @media (min-width: 1025px) {
        .h-custom {
        height: 100vh !important;
        }
        }
        
        .horizontal-timeline .items {
        border-top: 2px solid #ddd;
        }
        
        .horizontal-timeline .items .items-list {
        position: relative;
        margin-right: 0;
        }
        
        .horizontal-timeline .items .items-list:before {
        content: "";
        position: absolute;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: #ddd;
        top: 0;
        margin-top: -5px;
        }
        
        .horizontal-timeline .items .items-list {
        padding-top: 15px;
        }

</style>


{% block body %}


<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card border-top border-bottom border-3" style="border-color: #000000 !important;">
            <div class="card-body p-5">
  
              <p class="lead fw-bold mb-5" style="color: #000000;">Order Placed!!</p>
  
              <div class="row">
                <div class="col mb-3">
                  <p class="small text-muted mb-1">Date</p>
                  <p>{{ orders.order_created_date }}</p>
                </div>
                <div class="col mb-3">
                  <p class="small text-muted mb-1">Total</p>
                  <p>₹{{ orders.order_total_amount }}</p>
                </div>
                <div class="col mb-3">
                  <p class="small text-muted mb-1">Order No.</p>
                  <p>{{ orders.order_number }}</p>
                </div>
              </div>
  
              <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
                {% for ordered_products in ordered_products %}
                <div class="row">
                  <div class="col-md-8 col-lg-9">
                    <img src="{{ ordered_product.product.variant.img1.url }}" alt="{{ ordered_product.product.variant.img1.url }}" class="img-fluid">
                  </div>
                  <div class="col-md-8 col-lg-9">
                    <p>{{ ordered_products.product.product_name }}</p>
                  </div>
                  <div class="col-md-4 col-lg-3">
                    {% if ordered_products.product.offer_price %}
                    <p>{{ ordered_products.product.offer_price }}</p>
                    {% else %}
                    <p>{{ ordered_products.product.product_price }}</p>
                    {% endif %}
                  </div>
                </div>
                
                {% endfor %}
              </div>
  
              <div class="row my-4">
                <div class="col-md-4 offset-md-8 col-lg-3 offset-lg-9">
                  <p class="lead fw-bold mb-0" style="color: #000000;">{{ order.total_price }}</p>
                </div>
              </div>
  
              <p class="lead fw-bold mb-4 pb-2" style="color: #000000;">Tracking Order</p>
  
              <div class="row">
                <div class="col-lg-12">
  
                  <div class="horizontal-timeline">
  
                    <ul class="list-inline items d-flex justify-content-between">
                      <li class="list-inline-item items-list">
                        <p class="py-1 px-2 rounded text-white" style="background-color: #000000;">Ordered</p
                          class="py-1 px-2 rounded text-white" style="background-color: #000000;">
                      </li>
                      <li class="list-inline-item items-list">
                        <p class="py-1 px-2 rounded text-white" style="background-color: #000000;">Shipped</p
                          class="py-1 px-2 rounded text-white" style="background-color: #000000;">
                      </li>
                      <li class="list-inline-item items-list">
                        <p class="py-1 px-2 rounded text-white" style="background-color: #000000;">On the way
                        </p>
                      </li>
                      <li class="list-inline-item items-list text-end" style="margin-right: 8px;">
                        <p style="margin-right: -8px;">Delivered</p>
                      </li>
                    </ul>
  
                  </div>
  
                </div>
              </div>
  
               <p class="mt-4 pt-2 mb-0"><a href="#" style="color: #000000;">Invoice</a></p>
  
            </div>
          </div>
        </div>
      </div>
    </div>
</section>







{% endblock body %}